/*
Kelsey Legault
October 2015
 */

/* Animations ----------------------------------- */

/*Fadeup, for main content (h1)*/
@-webkit-keyframes fadeup {
    0%     { opacity: 0; -webkit-transform: translate(0px, 20px);}
}
@-moz-keyframes fadeup {
    0%     { opacity: 0; -moz-transform: translate(0px, 20px);}
}
@keyframes fadeup {
    0%    { opacity: 0; transform: translate(0px, 20px);}
}

/*Fadeup-delay, for sub-content*/
@-webkit-keyframes fadeup-delay {
    0%    { opacity: 0; }
    30%   { opacity: 0; -webkit-transform: translate(0px, 10px);}
}
@-moz-keyframes fadeup-delay {
    0%    { opacity: 0; }
    30%   { opacity: 0; -moz-transform: translate(0px, 10px);}
}
@keyframes fadeup-delay {
    0%    { opacity: 0; }
    30%   { opacity: 0; transform: translate(0px, 10px);}
}
.arrow-fade {
  opacity: 0;
}
/*Gradient Animation (thanks http://www.gradient-animator.com/)*/
@-webkit-keyframes gradient-animation {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}
@-moz-keyframes gradient-animation {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}
@keyframes gradient-animation {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}

/*Gradient Animation (thanks http://www.gradient-animator.com/)*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
@-moz-keyframes neon1 {
 from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
