img {
    margin: 0 20px;
    width: 100%;
    border: 1px #E2E2E2 solid;
}
.case-hero {
    height: 300px;
    padding: 200px 0;
}
.case-hero p {
    text-align: center;
}
.case-hero span {
    color: #000;
}
.flow-case1 p,
.flow-case2 p {
    text-align: center;
    display: block;
    margin: 50px 0 40px 0;
    color: #BDBDBD;
}
.flow-case1,
.flow-case2,
.logo-case {
    margin: auto;
    margin-bottom: 20px;
}
.flow-case1 img,
.flow-case2 img {
    max-width: 575px;
}
.logo-case {
    max-width: 612px;
}
.flex-col__under750px {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 1000px) {
    .flex-col__under750px {
        flex-direction: row;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
    }
}
@media (min-width: 1000px) {
    .flow-case1 img,
    .flow-case2 img {
        max-width: 450px;
    }
}
@media (min-width: 1210px) {
    .flow-case1 img,
    .flow-case2 img {
        max-width: 600px;
    }
}
