/*
Kelsey Legault
October 2015
*/

/* Base Styles ----------------------------------- */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
html {
    min-width: 230px;
    font-size: 1em;
/*  background: linear-gradient(127deg, #fff0c6, #cadaff);
background-size: 400% 400%;
-webkit-animation: gradient-animation 9s ease infinite;
-moz-animation: gradient-animation 9s ease infinite;
animation: gradient-animation 9s ease infinite;*/
}
body {
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    /*margin: calc(100vw/50);*/
    /*background-color: rgba(202,218,255, 0.3);*/
}
section {
    /*Minus border width from section height*/
    height: 100vh;
    background-color: #fff;
    min-height: 300px;
}
.outer-container {
    background-color: #EEE;
    width: 100%;
}
header .links{
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end; 
    justify-content: flex-end;
}
footer, header {
    padding: 40px 50px;
}
/* Typography ----------------------------------- */

h1,h2,p {
    text-rendering: optimizeLegibility;
    color: #000;
    font-size: 1em;
}
h1 {
    font-size: 2em;
    color: #000;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.6px;
    font-weight: 400;
}
h2 {

    font-weight: 400;
    letter-spacing: 0.8px;
}
p {
    letter-spacing: 0.9px;
    line-height: 1.6;
}
a { 
    line-height: 1.8;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid rgba(0,0,0,1);
}
span {
    padding: 30px 0 20px 0;
    font-family: 'Playfair Display', serif;
}
.links {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start; 
    justify-content: flex-start; 
}
.links li {
    list-style: none;
    display: inline-block;
    padding: 0 40px 0 0;
    -webkit-animation: fadeup-delay 1.5s;
    -moz-animation: fadeup-delay 1.5s;
    animation: fadeup-delay 1.5s;
}
.links ul {
    padding: 0;
}
ul li:last-of-type {
    padding-right: 0
}
.link-underline, .link-underline-email {
    position: relative;
    transition: color 0.6s;
}
.link-underline:hover {
    color: #eac254;
    transition: color 0.6s;
}
.link-underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: #eac254;
    content: "";
    transition: width 0.5s;
}
.link-underline:hover:after {
    width: 100%;
}
.flex-end .link-underline:after {
    right: 0;
    left: auto;
}
.flex-end {
    right: 0;
    position: relative;
}
/* Work ----------------------------------- */
.images {
    margin-bottom: 30px;
    position: relative;
}
.images img {
    width: 100%;
}
.images img:not(:first-of-type) {
    position: absolute;
    top: 0;
    left: 0;
}
.work-item {
    max-width: 950px;
    margin:auto;
    padding-bottom: 150px;
}
.work-item p {
}
.work-item span {
    display: inline-block;
}
.to-the-left {
    margin-left: -50px;
    position: relative;
}
.push-right {
    padding-left: 80px;
}
.beyonce {
    margin-left: 9%;
}
.beyonce__2 {
    margin-right: 4.5%;
}
.work-item ul,
.work-item ul li {
    list-style: none;
    line-height: 1.6;
    padding: 0;
}
.work-item ul li:before {
    content: ">";
    display: inline-block;
    margin-right: 20px;
}
/* Grid ----------------------------------- */
.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex__vertical-center {
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-flex-align: center;
}
.flex__horizontal-center {
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex-col {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}
.flex__spread {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
}

.hero-content {
    text-align: center;
    height: calc(100vh - 160px)
}
.hero-content h1 {
    max-width: 780px;
}
.col-1  {   width: 8.333333333%;    }
.col-2  {   width: 16.666666666%;   }
.col-3  {   width: 25.000000000%;   }
.col-4  {   width: 33.333333333%;   }
.col-5  {   width: 41.666666666%;   }
.col-6  {   width: 50.000000000%;   }
.col-7  {   width: 58.333333333%;   }
.col-8  {   width: 66.666666666%;   }
.col-9  {   width: 75.000000000%;   }
.col-10 {   width: 83.333333333%;   }
.col-11 {   width: 88.666666666%;   }
.col-12 {   width: 100.000000000%;  }

/*Intro Animations ----------------------------------- */

.hero-text-animation {
    -webkit-animation: fadeup 1.5s;
    -moz-animation: fadeup 1.5s;
    animation: fadeup 1.5s;
}
.hero-link-animation {
    -webkit-animation: fadeup-delay 1.5s;
    -moz-animation: fadeup-delay 1.5s;
    animation: fadeup-delay 1.5s;
}

/* Media Queries ----------------------------------- */
@media (max-width: 1200px) {
    .hero-content {
        padding: 0 100px;
    }
}
@media (max-width: 650px) {
    body {
        margin: calc(100vw/30);
    }
    .flex-row {
        display: block;
    }
    ul li:not(:last-of-type) {
        padding-right: 10px;
    }
    h1 {
        font-size: 1.4em;
    }
    header .links {
        text-align: right;
    }
    .hero-content {
        padding: 0 ;
        text-align: left;
    }
    .expand-column {  
        width: 100%;
    }
    .email-link-mobile {
        margin: 16px 0 5px 0;
    }
}