/*
Kelsey Legault
October 2015
*/

/* Block Styles ----------------------------------- */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
html {
    min-width: 230px;
    font-size: 1em;
}
body {
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    background-color: #FAFAFA;
}
.outer-container {
    width: 100%;
}
header .links{
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
}
footer,
header {
    padding: 70px 80px;
}
header {
    padding-bottom: 0;
}
footer div {
    width: 100%;
}
/* Typography ----------------------------------- */
h1,
h2,
p {
    text-rendering: optimizeLegibility;
    color: #000;
    font-size: 1em;
}
h1 {
    font-size: 2em;
    color: #000;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.6px;
    font-weight: 400;
}
h2 {

    font-weight: 400;
    letter-spacing: 0.8px;
}
p {
    letter-spacing: 0.9px;
    line-height: 1.6;
}
li a {
    border: none;
}
a {
    line-height: 1.8;
    text-decoration: none;
    color: #000;
}
p a {
    border-bottom: 1px solid #000;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.5s;
}
p a:hover,
p a.pink:hover {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.5s;
}
span {
    font-weight: 200;
    letter-spacing: 0.9px;
    padding: 2px 0;
    margin-bottom: 15px;
    /*font-family: 'Playfair Display', serif;*/
    font-size: 16px;
    border-bottom: 1px solid #000;
}
.not-live {
    color: #757575;
    border-color: #bdbdbd;
}
.links {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
}
.links li {
    list-style: none;
    display: inline-block;
    padding: 0 40px 0 0;f
}
.links ul {
    padding: 0;
}
ul li:last-of-type {
    padding-right: 0;
}
.link-underline,
.link-underline-email {
    position: relative;
    transition: color 0.6s;
}
.link-underline:hover {
    color: #eac254;
    transition: color 0.6s;
}
.link-underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: #eac254;
    content: "";
    transition: width 0.5s;
}
i {
    padding-bottom: 3rem;
    margin: auto;
    -webkit-animation: fadeup 1.5s;
    -moz-animation: fadeup 1.5s;
    animation: fadeup 1.5s;
}
.arrow {
    margin-top: -3rem;
    transition: all .3s ease-in-out;
}
.link-underline:hover:after {
    width: 100%;
}
.flex-end .link-underline:after,
header .link-underline:after {
    right: 0;
    left: auto;
}
.hero-content i {
    padding-top: 7rem;
}
.oops .hero-content {
    height: 100vh;
}
/* Work Items ----------------------------------- */
.images {
  overflow: hidden;
  position: relative;
}
.images img:not(:first-of-type) {
  position: absolute;
  top: 0;
  z-index: 10;
}
img.img-behind {
    z-index: -99;
}
.images img {
    width: 100%;
}
.slider img.showing {
	opacity: 1;
	z-index: 1;
	/*transform: translate3d(0, 0, 0);*/
	transition: all 0s;
}
.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.slider img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
    transition: transform 1s ease-in-out, opacity 0.3s ease-in-out 0.3s;
}
#work {
  margin-top: 0;
  padding-top: 90px;
}
.work-item {
    padding: 0 30px;
    max-width: 950px;
    margin:auto;
    padding-bottom: 150px;
}
.work-item span {
    display: inline-block;
}
.list {
    padding: 0 30px;
    max-width: 860px;
    margin: auto;
    margin-bottom: 100px;

}
.list-item div {
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}
.list-item p,
.list-item a {
    display: inline-block;
    padding: 10px 0;
}
.work-item ul,
.work-item ul li {
    list-style: circle;
    line-height: 1.6;
    padding: 0;
}
/* Grid ----------------------------------- */
.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex__vertical-center {
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-flex-align: center;
}
.flex__horizontal-center {
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex-col {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}
.flex__spread {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
}

.hero-content {
    text-align: center;
    height: calc(100vh - 160px)
}
.hero-content h1 {
    padding-top: 6rem;
    max-width: 780px;
}
.flex-end {
    right: 0;
    position: relative;
}
/*Intro Animations ----------------------------------- */

.hero-text-animation,
i,
.links,
.flex p {
    -webkit-animation: fadeup 1.5s;
    -moz-animation: fadeup 1.5s;
    animation: fadeup 1.5s;
}
.text {
    max-width: 800px;
    margin: auto;
}
/*404 Page ----------------------------------- */
.oops h1 {
    color: rgba(0,0,0,1);
    padding: 0 20px;
    z-index: 99;
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    max-width: inherit !important;
    transform: translate3d(0,50%,0);
}
.oops a {
    border-bottom: 2px solid rgba(0,0,0,1);
    color: rgba(0,0,0,1);
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.oops a:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.holder {
    position: relative;
    overflow: hidden;
}

/* Media Queries ----------------------------------- */
@media (max-width: 1200px) {
    .hero-content {
        padding: 0 100px;
    }
}
@media (max-width: 950px) {
    .flex.text {
        flex-direction: column;
    }
    .col-6 {
        width: 90%;
    }
    .push-right {
        padding-left: 0;
    }
    footer, header {
        padding: 30px 30px;
    }
}
@media (max-width: 650px) {
    body {
        margin: calc(100vw/30);
    }
    .oops body {
        margin: 0;
        padding: 0 50px;
    }
    .oops img {
        width: 90%;
    }
    .flex-row {
        display: block;
    }
    ul li:not(:last-of-type) {
        padding-right: 10px;
    }
    .hero-content {
        height: 300px;
    }
    .hero-content h1 {
        max-width: 400px;
        padding-top: 0rem;
        font-size: 1.2em;
    }
    .oops h1 {
        height: calc(100% - 30px);
    }
    header {
        padding-left: 0;
        padding-right: 0;
    }
    header .links {
        text-align: right;
    }
    .work-item {
        padding-bottom: 100px;
    }
    .work-item,
    .list {
        padding-left: 0;
        padding-right: 0;
    }
    .hero-content {
        padding: 0 ;
    }
    .expand-column {
        width: 100%;
    }
    .email-link-mobile {
        margin: 16px 0 5px 0;
    }
    i.zmdi-chevron-down {
        display: none;
    }
    header nav {
        display: none;
    }
    header.flex__spread {
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
    }
    footer .flex__spread {
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }
    footer {
        padding: 30px 0;
    }
    .flex-end .link-underline:after {
    right: auto;
    left: 0;
}
@media (max-width: 550px) {
    .work-item {
        padding-bottom: 75px;
    }
}
