/*
Kelsey Legault
October 2015
 */


/* Base Styles ----------------------------------- */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

body {
	font-family: 'Karla', sans-serif;
	background-color: #D8D8D8;
	border: 40px solid #00298A;
	color: #333;
}

section {
	/*Minus border width from section height*/
	height: calc(100vh - 80px);
}

.outer-container {
	width: 100%;
	background-color: #D8D8D8;
}

/* Typography ----------------------------------- */

h1,h2,p {
	text-rendering: optimizeLegibility;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 4rem;
	letter-spacing: 0.6px;
	font-weight: 400;
}

h2 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.8px;
}

p {
	font-size: 1.6rem;
	letter-spacing: 0.9px;
}

u {
	color: #0059F5;
	text-decoration: none;	
}


/* Grid ----------------------------------- */
.col-1 	{width: 8.333333333%;	}
.col-2 	{width: 16.666666666%;	}
.col-3 	{width: 25.000000000%;	}
.col-4 	{width: 33.333333333%;	}
.col-5 	{width: 41.666666666%;	}
.col-6 	{width: 50.000000000%;	}
.col-7 	{width: 58.333333333%;	}
.col-8 	{width: 66.666666666%;	}
.col-9 	{width: 75.000000000%;	}
.col-10 {width: 83.333333333%;	}
.col-11 {width: 88.666666666%;	}
.col-12 {width: 100.000000000%;	}
