/*
Kelsey Legault
October 2015
 */


/* Base Styles ----------------------------------- */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

body {
	font-family: 'Karla', sans-serif;
	border: 40px solid #00298A;
}

section {
	/*Minus border width from section height*/
	height: calc(100vh - 80px);
}

.outer-container {
	background-color: #EEE;
	width: 100%;
}

/* Typography ----------------------------------- */

h1,h2,p {
	text-rendering: optimizeLegibility;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	letter-spacing: 0.6px;
	font-weight: 400;
}

h2 {
	
	font-weight: 400;
	letter-spacing: 0.8px;
}

p {
	font-size: 16px;
	letter-spacing: 0.9px;
}

u {
	color: #0059F5;
	text-decoration: none;
}

.hero-image {
	flex-flow: center;
	width: 65%;
}


/* Grid ----------------------------------- */
.row {
	overflow: auto;
	display: flex;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 { 
	margin: auto 0;
	height: calc(100vh - 80px); 
	display: flex;
	flex-direction: column;
	flex-flow: center;
	justify-content: center;
	align-items:center;
}

.col-1 	{	width: 8.333333333%;	}
.col-2 	{	width: 16.666666666%;	}
.col-3 	{	width: 25.000000000%;	}
.col-4 	{	width: 33.333333333%;	}
.col-5 	{	width: 41.666666666%;	}
.col-6 	{	width: 50.000000000%;	}
.col-7 	{	width: 58.333333333%;	}
.col-8 	{	width: 66.666666666%;	}
.col-9 	{	width: 75.000000000%;	}
.col-10 {	width: 83.333333333%;	}
.col-11 {	width: 88.666666666%;	}
.col-12 {	width: 100.000000000%;	}
