
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

body{
	font-family: 'Karla', sans-serif;
	background-color: #D8D8D8;
}

section {
	height: 100vh;
}


h1 {
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	letter-spacing: 0.6px;
	font-weight: 400;
}

h2 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.8px;
}

u {
	color: #0059F5;
	text-decoration: none;	
}

.outer-container {
	width: 100%;
	background-color: #D8D8D8;
}
